.AtoGandNum table {
    border-collapse: collapse;
    border: 1px solid #DDDDDD;
}
.AtoGandNum th {
    font-weight: bold;
    font-size: 20px;
    border: 1px solid #DDDDDD;
}
.AtoGandNum td {
    font-weight: bold;
    font-size: 20px;
    border: 1px solid #DDDDDD;
}
.AtoGandNum .plyaer_inf{
    display: flex;
    flex-direction: row;
}

.AtoGandNum .grade {
    font-weight: bold;
    font-size: 40px;
    margin : 0px;
}

.AtoGandNum .enr_yr {
    text-align: center;
    font-weight: bold;
    font-size: 10px;
    margin : 0px;
}

.AtoGandNum .status_oneset {
    display: flex;
    flex-direction: row;
}
.AtoGandNum .status_number {
    display: flex;
    flex-direction: column;
}
.AtoGandNum .status_oneset p {
    text-Shadow: 1px 1px 0px gray;
    font-weight: bold;
    font-size: 30px;
}
.AtoGandNum input[type="number"] {
    text-Shadow: 1px 1px 0px gray;
    font-weight: bold;
    font-size: 40px;
    width: 85px;
    border: 1px solid white;
}
.AtoGandNum input[type="text"] {
    text-Shadow: 1px 1px 0px gray;
    font-weight: bold;
    font-size: 33px;
    width: 35px;
    text-align: center;
    border: 1px solid white;
}
